:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}


* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #FFADAD;
    color: #8F4A4B;
}

a {
    text-decoration: none;
    color: #8F4A4B;
    font-weight: 500;
}

a:visited {
    color: #8F4A4B;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    margin: 5rem;
    padding: 1rem;
    background-color: #FFDAD9;
    border-radius: 20px;
    flex: 1;
    max-width: calc(100% - 10rem);
    height: calc(100% - 10rem);
}
